<!-- base.html -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


{% load staticfiles %}

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
          {% if request.user.is_authenticated %}
              Scanner
          {% else %}
              Login
          {% endif %}
      {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <Script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>


    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head> 
<body>

	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	       <!-- <a class="navbar-brand" href="/">Scanner</a> -->
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BruinScan</a>
        </div>

	      <div id="navbar" class="navbar-collapse collapse">
	        <ul class="nav navbar-nav">
              <!-- <li><a href="/home">Home</a></li> -->
              <li><a href="/manage">Manage Scans</a></li>
              <li><a href="/account">Account</a></li>
              <li><a href="/contact">Contact</a></li>

              <li>
                  <a style="padding-right: 5px" href="https://venmo.com/?txn=pay&audience=private&recipients=Class-Scanner&note=for%20classes"
                  target="_blank" >
                    <img src="{% static 'images/venmo.png'%}" width="75" height="17">
                  </a>
              </li>

              <li>
                  <h5 style="padding: 5px 0px" class="questionmark">?</h5>
                  <div id="venmo">Please donate to help server costs and increase scanning speed. 
                    Username: @Class-Scanner</div>
              </li>

	        </ul>
          
	        <ul class="nav navbar-nav navbar-right">
	          {% block log %} 
                {% if request.user.is_authenticated %}
                    <a href="/account">{{ user.username }}</a>
                    <button style="width: 75px" type="button" onclick="window.location.href='/logout/'">Logout</button> 
                {% else %}
                    <button type="button" onclick="window.location.href='/'">Login</button> 
                {% endif %}
            {% endblock %}
	        </ul>
	      </div><!--/.nav-collapse -->
	    </div><!--/.container-fluid -->
  	</nav>


    <div class="wrapper">
        <div class="container">
            <h3>{% block header %}{% endblock %}</h3>
            <div hidden class="loading">Takes a few seconds...</div>
            <div hidden class="loader"></div>
            <div class="graph">
            </div>
            <div hidden id="close">
              <a href="#">
                <img onclick="hideDistribution()" src="{% static 'images/close.png'%}" width="25" height="25">
              </a>
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <!-- The actual snackbar -->
    <div id="snackbar">{{ message }}</div>


</body>
</html>


<script>

	$(document).ready(function(){

        var desiredHeight = $("body").height() - $(".navbar").height()
        $(".wrapper").css("min-height", desiredHeight );

        $("#search").val("");
        $('.check').each(function(){ //iterate all listed checkbox items
          this.checked = false; //change ".checkbox" checked status
        });
        if ("{{ message }}"){
          showSnack(5000);
        } else if ("{{ grades }}"){
          init_checked_sections();  
        }
        

    });

  function showSnack(length) {
            // Get the snackbar DIV
            var x = document.getElementById("snackbar")

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, length);
        }

  function loading(){
      $(".loading").show();
      $(".loader").show();
  }
	
	function goBack() {
        window.history.back();
    }

    function searchFunction() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("tbl");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }


</script>


